device_side/.pio
device_side/.vscode/.browse.c_cpp.db*
device_side/.vscode/c_cpp_properties.json
device_side/.vscode/launch.json
device_side/.vscode/ipch
device_side/.gitignore
device_side/include/credentials.h
device_side/serial_display_renderer/build
device_side/serial_display_renderer/deps
